<div class="container">
	<form class="form-horizontal">
		<div class="control-group" ng-class="error_style">
			<label class="control-label" for="orderDatePicker">Order of :</label>
			<div class="controls">
				<div class="input-append">
					<input datepicker class="input-small" type="text" ng-model="order.order_date">
					<button type="button" class="btn btn-primary" ng-click="create(order)">Create</button>				
				</div>
				<span class="help-inline">{{error_message_for_order}}</span>
			</div>
		</div>
	</form>

    <h4>Order of : {{order.order_date}}</h4>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>#</th>
            <th>Drink</th>
            <th>Price</th>
            <th>Total Price</th>
            <th>Sweet Level</th>
            <th>Quantity</th>
            <th>Owner</th>
        </tr>
        </thead>
        <tbody ng-repeat="line_item in order.line_items">
        <tr>
            <td rowspan="{{line_item.toppings.length + 1}}">{{$index + 1}}</td>
            <td>{{line_item.drink.name}}</td>
            <td>{{line_item.drink.price}}</td>
            <td rowspan="{{line_item.toppings.length + 1}}">{{line_item.total_price}}</td>
            <td rowspan="{{line_item.toppings.length + 1}}">{{line_item.sweet_level}}</td>
            <td rowspan="{{line_item.toppings.length + 1}}">{{line_item.quantity}}</td>
            <td rowspan="{{line_item.toppings.length + 1}}">{{line_item.owner}}</td>
        </tr>
        <tr ng-repeat="topping in line_item.toppings">
            <td>{{topping.name}}</td>
            <td>{{topping.price}}</td>
        </tr>
        </tbody>
    </table>

     <div ng-repeat="drink in drinks">
        <ul>
            <li>{{drink.name}}</li>
        </ul>
     </div>
     <div ng-repeat="topping in toppings">
        <ul>
            <li>{{topping.name}}</li>
        </ul>
     </div>
     <div ng-repeat="line_item in line_items">
        <ul>
            <li>{{line_item.drink.name}}</li>
        </ul>
     </div>
</div>
